<div class="container">
  <div class="new-game flex-center">
   <span style="width: 70%;">{{ languageTexts['newGameMessage'] }}</span>
    <div class="space"></div>
    <app-button
    size="small"
    [text]="languageTexts['startNewGame']"
    color="blue"
    (click)="routeGame()"
    ></app-button>
    <div class="space"></div>
    <app-button  size="small" color="white" (click)="close()" [text]="languageTexts['cancel']"></app-button>
  </div>

  <img class="close" (click)="close()" src="assets/images/close.png" alt="close">
</div>


