<ion-content [scrollEvents]="true">

  <div class="container">
    <app-icon type="back" class="back" (click)="close()"></app-icon>
  <div class="header">
    <br />
    {{  languageTexts["settings"] }}
    <div class="profile flex-center">
      <!-- <app-icon style="margin-bottom: -0.7vh" type="profile"></app-icon> -->
      <img class="profile-icon" src="/assets/images/profile.png" alt="profile">
    </div>
    <div class="profile-name" (click)="profileNameModal()">
      <app-icon type="edit-profile"></app-icon>
      {{  languageTexts["profileName"] }}
    </div>
  </div>
  <div class="body">
    <div class="badge-row">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="sound"></app-icon> -->
        <img class="badge-icon" src="/assets/images/sound.png" alt="sound">
      </div>
      <div class="badge">
        {{  languageTexts["sounds"] }}
        <ion-toggle mode="ios"></ion-toggle>
      </div>
    </div>

    <div class="badge-row">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="vibration"></app-icon> -->
        <img class="badge-icon" src="/assets/images/vibration.png" alt="vibration">
      </div>
      <div class="badge">
        {{  languageTexts["vibrations"] }}
        <ion-toggle mode="ios"></ion-toggle>
      </div>
    </div>

    <div class="badge-row" (click)="themeModal()">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="themes"></app-icon> -->
        <img class="badge-icon" src="/assets/images/themes.png" alt="themes">
      </div>
      <div class="badge">
        {{  languageTexts["theme"] }}
      </div>
    </div>

    <div class="badge-row">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="ranking"></app-icon> -->
        <img class="badge-icon" src="/assets/images/rankings.png" alt="rankings">
      </div>
      <div class="badge">{{  languageTexts["rankings"] }}</div>
    </div>

    <div class="badge-row">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="logic"></app-icon> -->
        <img class="badge-icon" src="/assets/images/app-logic.png" alt="app logic">
      </div>
      <div class="badge">{{  languageTexts["appLogic"] }}</div>
    </div>

    <div class="badge-row">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="privacy"></app-icon> -->
        <img class="badge-icon" src="/assets/images/privacy.png" alt="privacy">
      </div>
      <div class="badge">{{  languageTexts["privacy"] }}</div>
    </div>

    <div class="badge-row">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="terms"></app-icon> -->
        <img class="badge-icon" src="/assets/images/terms.png" alt="termms of use">
      </div>
      <div class="badge">{{  languageTexts["terms"] }}</div>
    </div>

    <div class="badge-row" (click)="presentSelect()">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="terms"></app-icon> -->
        <img class="badge-icon" src="/assets/images/language.png" alt="language">
      </div>
      <div class="badge">{{  languageTexts["language"] }}</div>
    </div>

    <app-icon style="margin-top: 3vh" type="premium"></app-icon>

    <div class="badge-row">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="ads"></app-icon> -->
        <img class="badge-icon" src="/assets/images/removeads.png" alt="remove ads">
      </div>
      <div class="badge">{{  languageTexts["removeAds"] }}</div>
    </div>

    <div class="badge-row" (click)="cl()">
      <div class="icon flex-center">
        <!-- <app-icon class="mt" type="restore"></app-icon> -->
        <img class="badge-icon" src="/assets/images/restore.png" alt="restore purschases">
      </div>
      <div class="badge">{{  languageTexts["restore"] }}</div>
    </div>

    <app-icon style="margin-top: 4vh" type="tanos-logo"></app-icon>
  </div>

</div>

  <ion-select id="customActionSheetSelect" interface="action-sheet" (ionChange)="changeLanguage()" mode="ios" placeholder="Select One" style="display: none;">
    <ion-select-option value="english">English</ion-select-option>
    <ion-select-option value="turkish">Türkçe</ion-select-option>
    <ion-select-option value="french">Français</ion-select-option>
    <ion-select-option value="german">Deutsche</ion-select-option>
    <ion-select-option value="italian">Italiano</ion-select-option>
    <ion-select-option value="russian">русский</ion-select-option>
    <ion-select-option value="spanish">Español</ion-select-option>
  </ion-select>

</ion-content>
