@import url("https://fonts.googleapis.com/css2?family=Abel&family=Plus+Jakarta+Sans&display=swap");

ion-content {
  --overflow: hidden;
  // --background: url("/assets/images/home-square.png") 0 0/100% 100% no-repeat, white;
  --ion-font-family: "Abel", sans-serif;
  --color: #818181;
}

.back {
  position: absolute;
  top: 5vw;
  left: 5vw;
}


.container {
  background: url("/assets/images/block-layer.png"), white;
  background-repeat: no-repeat;
  background-position: center;
  // background-size: contain;
  background-size: 95%;
  border: 1px solid;
  height: 100vh;
}

.scores {
  margin-top: 10vh;
  font-size: 1.8vh;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}

.badge {
  background: #e9ecf0;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50vh;
  width: 70%;
  height: 50px;
  padding: 15px;
  justify-content: space-between;
  margin-top: 2vh;
}


.box {
  display: flex;
  // border: 5px solid transparent;
  // background-clip: padding-box;
  border-radius: 14px;
  // position: relative;
  width: 120px;
  height: 120px;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 40px;
  font-size: 30px;
  // border: 1px solid;
}

.box-wrapper {
  // border: 1px solid;
  background: linear-gradient(#ededed, #ededed50);
  margin-top: 40px;
  padding: 7px;
  border-radius: 16px;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

app-button {
  margin-top: 15px;
}

.ladder {
  margin-top: 20px;
  width: 120px;
}

.logo {
  margin-top: 70px;
  width: 200px;
}

@media screen and (max-height: 900px) {
  .container { background-size: 125%;}
  .scores { margin-top: 15vh;}
  .badge { height: 35px;}
  .box {
    width: 90px;
    height: 90px;
    font-size: 28px;
  }
  .ladder {
    width: 80px;
  }
  .logo{
    width: 130px;
  }
}

@media screen and (min-height: 700px) {
  .logo{
    width: 130px;
  }
}

@media screen and (min-height: 1000px) {
  .scores { margin-top: 20vh;}
}


@media screen and (max-height: 680px) {
  .scores { margin-top: 7vh;}
  .badge { height: 25px;}
  .box-wrapper { margin-top: 25px;}
  .logo { margin-top: 35px;}
}

// @media screen and (max-height: 850px) {
//   .scores { margin-top: 150px;}
// }
