<ion-content>
  <div class="container">
    <img class="back" (click)="routeHome()" src="assets/images/back.png" alt="close">
    <div class="scores flex-center">
      SCORES
      <div class="badge flex-center">
        <div>{{ languageTexts['daily'] }}</div>
        <div>{{ daily }}</div>
      </div>

      <div class="badge flex-center">
        <div>{{ languageTexts['weekly'] }}</div>
        <div>{{ weekly }}</div>
      </div>

      <div class="badge flex-center">
        <div>{{ languageTexts['overall'] }}</div>
        <div>{{ overall }}</div>
      </div>
      <div class="box-wrapper">
        <div class="box">
          <span>{{ languageTexts['score'] }}</span>
          <div style="color: #4f6f98">{{ score }}</div>
        </div>
      </div>

      <img src="/assets/images/ladder.png" alt="ladder" class="ladder">

      <app-button
        color="white"
        size="large"
        [text]="languageTexts['worldRankings']"
        (click)="routeRanking()"
      ></app-button>
      <app-button (click)="routeNewGame()" color="blue" size="large" [text]="languageTexts['newGame']"></app-button>
      <img src="/assets/images/logo.png" alt="tanos logo" class="logo">
    </div>
  </div>
</ion-content>
