<ion-modal mode="ios" id="settings-modal" trigger="trigger-settings">
  <ng-template>
    <ion-content>
      <app-icon type="back" class="back" (click)="dismissModal()"></app-icon>
      <div class="header">
        <br />
        SETTINGS
        <div class="profile flex-center">
          <app-icon style="margin-bottom: -0.7vh" type="profile"></app-icon>
        </div>
        <div class="profile-name">
          <app-icon type="edit-profile"></app-icon>
          Profile Name
        </div>
      </div>
      <div class="body">
        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="sound"></app-icon>
          </div>
          <div class="badge">
            SOUNDS
            <ion-toggle mode="ios"></ion-toggle>
          </div>
        </div>

        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="vibration"></app-icon>
          </div>
          <div class="badge">
            VIBRATIONS
            <ion-toggle mode="ios"></ion-toggle>
          </div>
        </div>

        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="dark-mode"></app-icon>
          </div>
          <div class="badge">
            DARK MODE
            <ion-toggle mode="ios"></ion-toggle>
          </div>
        </div>

        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="ranking"></app-icon>
          </div>
          <div class="badge">RANKINGS</div>
        </div>

        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="logic"></app-icon>
          </div>
          <div class="badge">APP LOGIC</div>
        </div>

        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="privacy"></app-icon>
          </div>
          <div class="badge">PRIVACY POLICY</div>
        </div>

        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="terms"></app-icon>
          </div>
          <div class="badge">TERMS OF USE</div>
        </div>

        <app-icon style="margin-top: 3vh" type="premium"></app-icon>

        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="ads"></app-icon>
          </div>
          <div class="badge">REMOVE ADS</div>
        </div>

        <div class="badge-row">
          <div class="icon flex-center">
            <app-icon class="mt" type="restore"></app-icon>
          </div>
          <div class="badge">RESTORE PURSCHASES</div>
        </div>

        <app-icon style="margin-top: 4vh" type="tanos-logo"></app-icon>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  [swipeToClose]="true"
  mode="ios"
  id="new-game-modal"
  trigger="trigger-new-game"
  class="new-game-modal"
>
  <ng-template [ngStyle]="{'height': '100px'}">

      <div class="new-game flex-center">
        If you start a new game,
        <br />
        the current game will be lost
        <app-button
          size="small"
          text="START NEW GAME"
          color="blue"
        ></app-button>
        <app-button size="small" text="CANCEL" color="white"></app-button>
      </div>

  </ng-template>
</ion-modal>



<!-- ------------------------------------------------->

<!-- <ion-modal style="opacity: 0.6; background-color:black" mode="ios" id="new-game-modal" trigger="trigger-new-game">
  <ng-template style="width: 30%; height: 30%">
    <ion-content  class="flex-center">
      <div class="new-game flex-center">
            If you start a new game,
            <br>
            the current game will be lost
        <app-button size="small" text="START NEW GAME" color="blue"></app-button>
        <app-button size="small" text="CANCEL" color="white"></app-button>
     </div>
    </ion-content>
  </ng-template>
</ion-modal> -->


