<ion-content>
<div class="buttons">
  <app-icon type="add" (click)="routeGameOver()"></app-icon>
  <app-icon type="settings" (click)="settingsModal()"></app-icon>

</div>

   <div class="scoreboard">
     <div class="current-score">{{ score }}</div>
     <div class="small-scoreboard">
       <div class="today-score">
        TODAY <br> 100
        </div>
       <div class="overall-score">
         OVERALL
         <div class="flex-left">
          <app-icon class="row" type="trophy"></app-icon> &nbsp; 300 </div>
        </div>
     </div>
   </div>

   <div class="play-row" *ngFor="let sArray of playGround; index as i">
      <div *ngFor="let x of sArray; index as j" class="blck">
        <div *ngIf="j % 6 < 3">
          <div *ngIf="i % 6 < 3" #dropzone (click)="deleteOrInsert($event)" [attr.id]="i+'x'+j" [ngClass]="x == 1 ? 'blue-play bg-full' : x == 2 ? 'blue-play bg-hover' : 'blue-play'"></div>
          <div *ngIf="i % 6 >= 3" #dropzone (click)="deleteOrInsert($event)" [attr.id]="i+'x'+j" [ngClass]="x == 1 ? 'square-empty-play bg-full' : x == 2 ? 'square-empty-play bg-hover' : 'square-empty-play'"></div>
        </div>
        <div *ngIf="j % 6 >= 3">
          <div *ngIf="i % 6 >= 3" #dropzone (click)="deleteOrInsert($event)" [attr.id]="i+'x'+j" [ngClass]="x == 1 ? 'blue-play bg-full' : x == 2 ? 'blue-play bg-hover' : 'blue-play'"></div>
          <div *ngIf="i % 6 < 3" #dropzone (click)="deleteOrInsert($event)" [attr.id]="i+'x'+j" [ngClass]="x == 1 ? 'square-empty-play bg-full' : x == 2 ? 'square-empty-play bg-hover' : 'square-empty-play'"></div>
        </div>
      </div>
    </div>

    <div class="handbox">
      <app-icon [ngClass]="firstBlock == emptyBlock ? 'no-display' : ''" (click)="rotateOne()" type="rotate-left"></app-icon>
      <app-icon [ngClass]="secondBlock == emptyBlock ? 'no-display' : ''" (click)="rotateTwo()" type="rotate-left"></app-icon>
      <app-icon [ngClass]="thirdBlock == emptyBlock ? 'no-display' : ''" (click)="rotateThree()" type="rotate-left"></app-icon>
      <app-icon id="trigger-button" type="joker"></app-icon>
      <ion-popover mode="ios" trigger="trigger-button" size="auto">
        <ng-template>
          <ion-content>
            <div class="popup">
              <div class="column">
                <span>{{ undoCount }}</span>
                <app-icon (click)="undo()" type="undo"></app-icon>
                <span>UNDO</span>
              </div>
              <div class="column">
                <span>{{ addCount }}</span>
                <app-icon (click)="toggleInsert()" type="add"></app-icon>
                <span>ADD</span>
              </div>
              <div class="column">
                <span>{{ deleteCount }}</span>
                <app-icon (click)="toggleDelete()" type="delete"></app-icon>
                <span>DELETE</span>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>

    <div class="container" id="present">

      <div #item id="drag-1">
        <div class="sand-row" *ngFor="let sArray of firstBlock; index as i">
          <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full' : 'square-empty-sand'" [attr.id]="i+'x'+j"></div>
        </div>
      </div>

      <div #item id="drag-2" >
          <div class="sand-row" *ngFor="let sArray of secondBlock; index as i">
            <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full' : 'square-empty-sand'" [attr.id]="i+'x'+j"></div>
          </div>
      </div>

      <div #item id="drag-3" >
        <div class="sand-row" *ngFor="let sArray of thirdBlock; index as i">
          <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full' : 'square-empty-sand'" [attr.id]="i+'x'+j"></div>
        </div>
      </div>

      <app-icon type="arrow-right" (click)="showNext()"></app-icon>


     </div>

     <div class="container no-display" id="next">

      <div id="drag-1">
        <div class="sand-row" *ngFor="let sArray of nextFirst.block; index as i">
          <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full gray' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="'first'"></div>
        </div>
      </div>

      <div id="drag-2" >
          <div class="sand-row" *ngFor="let sArray of nextSecond.block index as i">
            <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full gray' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="'second'"></div>
          </div>
      </div>

      <div id="drag-3" >
        <div class="sand-row" *ngFor="let sArray of nextThird.block; index as i">
          <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full gray' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="'third'"></div>
        </div>
      </div>

      <app-icon type="arrow-right" (click)="showNext()"></app-icon>

     </div>

</ion-content>
