<ion-content>

<div class="grid">

  <div class="buttons">
    <img src="/assets/images/plus.png" (click)="newGameModal()" alt="plus" />
    <img src="/assets/images/settings.png" alt="settings" (click)="settingsModal()"/>
  </div>

  <div class="scoreboard">
    <div class="current-score">{{ score }}</div>

      <div class="today-score">
      TODAY <br> {{ todayScore }}
      </div>
      <div class="overall-score" #sample>
        OVERALL
        <div class="flex-left">
        <app-icon class="row" type="trophy"></app-icon> &nbsp; {{ overallScore }} </div>
      </div>

  </div>

  <div class="game">
    <div class="play-row" *ngFor="let sArray of playGround; index as i">
       <div #dropzone *ngFor="let x of sArray; index as j" [attr.id]="i+'x'+j" [ngClass]="(i % 6 < 3 && j % 6 < 3) || (i % 6 >= 3 && j % 6 >= 3) ? 'blue-play blck': 'blck'">
           <div #animate (click)="deleteOrInsert($event)" [attr.id]="i+'x'+j+'-inside'" [ngClass]="x == 1 ? 'square-empty-play bg-full' : x == 2 ? 'square-empty-play bg-hover' : 'square-empty-play'"></div>
       </div>
     </div>
  </div>

  <ion-popover mode="ios" trigger="trigger-button" id="popup">
    <ng-template>
      <ion-content>
        <div class="popup">
            <span style="font-family: 'Rubik', sans-serif;">{{ undoCount }}</span>
            <span style="font-family: 'Rubik', sans-serif;">{{ addCount }}</span>
            <span style="font-family: 'Rubik', sans-serif;">{{ deleteCount }}</span>
            <img src="/assets/images/undo.png" (click)="undo()"  alt="undo">
            <img src="/assets/images/plus.png" (click)="toggleInsert()" alt="add">
            <img src="/assets/images/delete.png" (click)="toggleDelete()"  alt="delete">
            <span>UNDO</span>
            <span>ADD</span>
            <span>DELETE</span>
        </div>
      </ion-content>
    </ng-template>
  </ion-popover>


    <div class="block-container" id="present">
          <img id="one" [ngClass]="isEven(firstObject, emptyObject) ? 'no-display' : ''" (click)="rotateOne()" src="/assets/images/left-rotate.png" alt="left-rotate">
          <img id="two" [ngClass]="isEven(secondObject, emptyObject) ? 'no-display' : ''" (click)="rotateTwo()" src="/assets/images/left-rotate.png" alt="left-rotate">
          <img id="three" [ngClass]="isEven(thirdObject, emptyObject) ? 'no-display' : ''" (click)="rotateThree()" src="/assets/images/left-rotate.png" alt="left-rotate">
          <img id="trigger-button" src="/assets/images/joker.png" alt="joker">

          <div #item id="drag-1">
            <div class="sand-row" *ngFor="let sArray of firstBlock; index as i">
              <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="i == 0 && j == 0 ? 'first': ''"></div>
            </div>
          </div>

          <div #item id="drag-2" >
              <div class="sand-row" *ngFor="let sArray of secondBlock; index as i">
                <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="i == 0 && j == 0 ? 'second': ''"></div>
              </div>
          </div>

          <div #item id="drag-3" >
            <div class="sand-row" *ngFor="let sArray of thirdBlock; index as i">
              <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="i == 0 && j == 0 ? 'third': ''"></div>
            </div>
          </div>

          <img src="/assets/images/right-arrows.png" alt="right arrows" (click)="showNext()" id="eight">
    </div>

    <div class="block-container no-display" id="next">
          <div id="drag-1">
            <div class="sand-row" *ngFor="let sArray of nextFirstBlock; index as i">
              <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full gray' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="'first'"></div>
            </div>
          </div>

          <div id="drag-2" >
              <div class="sand-row" *ngFor="let sArray of nextSecondBlock index as i">
                <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full gray' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="'second'"></div>
              </div>
          </div>

          <div id="drag-3" >
            <div class="sand-row" *ngFor="let sArray of nextThirdBlock; index as i">
              <div *ngFor="let s of sArray; index as j" [ngClass]="s ? 'square-full gray' : 'square-empty-sand'" [attr.id]="i+'x'+j" [attr.name]="'third'"></div>
            </div>
          </div>

          <img id="arrow-left" src="/assets/images/left-arrows.png" alt="show current" (click)="showNext()"/>

    </div>

    <div class="combo">
      {{ comboText }}
      <!-- 3x Combo -->
    </div>

    <div class="points">
      {{ plusPointText }}
      <!-- +185 -->
    </div>

  </div>

</ion-content>
