.row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
}

.square-empty-play {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}



.square-empty-sand {
  height: 50px;
  width: 50px;

}

/* .square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
} */

.square-full {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: aqua;
  cursor: move;
}


#drag2{
  // border: 1px solid black;
}


.drag{
  height: 100px;
  width: 100px;
  border: 1px solid blue;
  background-color: blue;
}

.from {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}
