<div class="container">
  <app-icon type="close" class="close" (click)="close()"></app-icon>
  <div class="column" style="color: black;">
    <!-- <app-icon type="dark"></app-icon> -->
    <img src="/assets/images/dark.png" alt="pink">
    DARK
  </div>

  <div class="column" style="color: #95B9E4;">
    <!-- <app-icon type="day"></app-icon> -->
    <img class="selected" src="/assets/images/day.png" alt="pink">
    DAY
  </div>
  <div class="column" style="color: #FAA8A7;">
    <!-- <app-icon type="pink"></app-icon> -->
    <img src="/assets/images/ladies.png" alt="pink">
    LADIES
  </div>
</div>
