<div class="flex">

<div class="gradient" *ngIf="color == 'blue' && size == 'large'">
  <button class="blue">
    {{ text }}
  </button>
</div>

<div class="gradient" *ngIf="color == 'white' && size == 'large'">
  <button class="white">
    {{ text }}
  </button>
</div>

<div class="gradient-small" *ngIf="color == 'blue' && size == 'small'">
  <button class="blue small">
    {{ text }}
  </button>
</div>

<div class="gradient-small" *ngIf="color == 'white' && size == 'small'">
  <button class="white small">
    {{ text }}
  </button>
</div>

<div class="gradient" *ngIf="color == 'blue' && size == 'xsmall'">
  <button class="blue xsmall">
    {{ text }}
  </button>
</div>


  <button class="normal" *ngIf="color == 'blue' && size == 'medium'">
    {{ text }}
  </button>



  <button
    class="normal"
    style="background-color: #e9ecf0"
    *ngIf="color == 'white' && size == 'medium'"
  >
    {{ text }}
  </button>
</div>
