.blue {
  width: 270px;
  height: 50px;
  background: #a6c4e8;
  box-shadow: 0px -4px 50px #ededed, 0px 4px 25px rgba(96, 135, 185, 0.7);
  font-size: 30px;
  color: white;
  border-radius: 18px;
  position: relative;
}

.gradient {
  background: linear-gradient(#eaeef371, #9BACC2);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-small {
  background: linear-gradient(#eaeef371, #9BACC2);
  padding: 5px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  width: 270px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px -4px 50px #ededed, 0px 4px 25px rgba(96, 135, 185, 0.7);
  font-size: 30px;
  color: #4e6e97;
  border-radius: 18px;
  position: relative;
}

.small {
  border-radius: 50px;
  border: 2px solid transparent;
  width: 50vw;
  height: 5vh;
  font-size: 2vh;
}

.small::after {
  border-radius: 25px;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
}

.xsmall {
  border-radius: 25px;
  border: 2px solid transparent;
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.xsmall::after {
  border-radius: 25px;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
}

.normal {
  background-color: #a6c4e8;
  width: 159px;
  height: 41px;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: rgba(69, 71, 80, 0.65);
  border-radius: 12px;
  font-size: 25px;
  color: #454750;
}


.flex {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .blue, .white {
    width: 350px;
    height: 70px;
    border-radius: 24px;
    font-size: 38px;
  }

  .gradient {
    border-radius: 25px;
  }

  .gradient-small {
    border-radius: 50px;
  }

  .small {
    width: 35vw;
    border-radius: 50px;
    font-size: 30px;
  }

}

@media screen and (max-height: 930px) {
  .normal {
    width: 130px;
    height: 38px;
    border-radius: 8px;
  }
}

