<button class="blue"  *ngIf="color == 'blue' && size == 'large'">
 {{ text }}
</button>


<button class="white"  *ngIf="color == 'white' && size == 'large'">
  {{ text }}
 </button>

<button class="blue small" *ngIf="color == 'blue' && size == 'small'">
  {{ text }}
</button>

<button class="white small" *ngIf="color == 'white' && size == 'small'">
  {{ text }}
</button>

<button class="blue xsmall" *ngIf="color == 'blue' && size == 'xsmall'">
  {{ text }}
</button>

<button class="normal" *ngIf="color == 'blue' && size == 'medium'">
  {{ text }}
</button>


<button class="normal" style="background-color: #E9ECF0;" *ngIf="color == 'white' && size == 'medium'">
  {{ text }}
</button>
