/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// .modal-wrapper, .modal-shadow {
//   border-radius: var(--border-radius);
//   width: var(--width);
//   min-width: var(--min-width);
//   max-width: var(--max-width);
//   height: 100px;
//   min-height: var(--min-height);
//   max-height: var(--max-height);
//   border-width: var(--border-width);
//   border-style: var(--border-style);
//   border-color: var(--border-color);
//   background: var(--background);
//   box-shadow: var(--box-shadow);
//   overflow: var(--overflow);
//   z-index: 10;
// }

// ion-page:host {
//   height: 100px!important;
// }


.new-game-modal-css {
  --height: 25vh;
  --width: 45vh;
  --border-radius: 25px;
}

.profile-modal-css {
  --height: 200px;
  --width: 350px;
  --border-radius: 25px;
}

.settings-modal-css {
  --height: 100vh;
  --width: 100vw;
}

.theme-modal-css {
  --height: 150px;
  --width: 300px;
  --border-radius: 25px;
  --box-shadow: 0 5px 10px 0 rgba(46, 46, 46, 0.6);
}

@media screen and (min-width: 500px) {
  .profile-modal-css {
    --height: 300px;
    --width: 650px;
  }
  .theme-modal-css {
    --height: 200px;
    --width: 450px;
  }
}

@media screen and (max-height: 670px) {
  .new-game-modal-css {
    --height: 30vh;
    --width: 45vh;
    --border-radius: 25px;
  }
}

ion-popover {
  --background: #FFFFFF;
  --backdrop-opacity: 0.2;
  --box-shadow: 0 5px 10px 0 rgba(46, 46, 46, 0.6);
  --color: white;
  // --width: 220px;
  // --height: 120px;
}

