<ion-content [fullscreen]="true">

  <app-icon (click)="settingsModal()" class="settings-button" type="settings"></app-icon>

  <div class="header">
    <app-icon type="logo" style="margin-left: 5vw;"></app-icon>
  </div>

  <div class="body">
    <div class="box">
      <app-icon type="gold-trophy"></app-icon>
      <div style="margin-top: -7px">YOUR BEST</div>
      <div>580</div>
    </div>
  </div>
<div class="footer">
  <app-button (click)="routeGame()" size="large" text="CONTINUE GAME" color="blue"></app-button>
  <app-button (click)="newGameModal()" text="NEW GAME" size="large" color="white"></app-button>
  <app-icon class="tanos" type="tanos-logo"></app-icon>
</div>
</ion-content>
