<ion-content [fullscreen]="true">
  <div class="container">
    <img src="/assets/images/settings.png" alt="settings button" (click)="settingsModal()" class="settings-button">

    <div class="header">
      <img class="logo-text" src="/assets/images/tanosudoku.png" alt="logo-text">
    </div>

    <div class="body">
      <div class="box-under">
        <div class="box">
          <img class="trophy" src="/assets/images/trophy.png" alt="gold trophy">
          <span>{{ languageTexts["bestScore"] }}</span>
          <span>{{ bestScore }}</span>
        </div>
      </div>
    </div>
    <div class="footer">
      <app-button
        *ngIf="isSaved == false"
        (click)="routeGame()"
        size="large"
        [text]="languageTexts['newGame']"
        color="blue"
      ></app-button>
      <p></p>
      <app-button
        *ngIf="isSaved == true"
        (click)="routeGame()"
        size="large"
        [text]="languageTexts['continue']"
        color="blue"
      ></app-button>
      <app-button
        *ngIf="isSaved == true"
        (click)="newGameModal()"
        [text]="languageTexts['newGame']"
        size="large"
        color="white"
      ></app-button>
      <img class="tanos" src="/assets/images/logo.png" alt="tanos logo">
      <!-- <button style="height: 50px;" (click)="writeSecretFile()">asdas</button> -->
      <!-- <button style="height: 50px;" id="info" (click)="cl()">sssss</button> -->
    </div>
  </div>
</ion-content>
