@import url("https://fonts.googleapis.com/css2?family=Abel&family=Plus+Jakarta+Sans&display=swap");

ion-content {
  --overflow: hidden;
  // --ion-background-color: black;
  // --background: url("/assets/images/home-square.png") 0/100% 100% no-repeat, white;
  // -backgroundimage: url("/assets/images/home-square.png");
  background-size: contain;
  --ion-font-family: "Abel", sans-serif;
}

.container {
  background: url("/assets/images/block-layer.png"), white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125%;
}

.settings-button {
  position: absolute;
  top: 8vw;
  right: 8vw;
  z-index: 3;
  width: 37px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 35vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.box {
  display: flex;
  border: 5px solid transparent;
  background-clip: padding-box;
  border-radius: 16px;
  position: relative;
  width: 90px;
  height: 90px;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  // font-size: 10px;
}

.box-under {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.101);
  background: linear-gradient(#ededed, #ededed50);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 45vh;
}

app-button {
  margin-top: 2vh;
}

.tanos {
  position: absolute;
  bottom: 6vh;
  height: 30px;
}

.backdrop {
  background-color: black;
  opacity: 0.7;
}

.logo-text {
  height: 50px;
}

.trophy {
  width: 33px;
}

@media screen and (min-width: 500px) {
  .container { background-size: 80%; }
  .box {
    width: 130px;
    height: 130px;
    font-size: 22px;
  }
  .box-under {
    width: 145px;
    height: 145px;
  }
  .logo-text {
    height: 80px;
  }
  .trophy {
    width: 50px;
  }
  .settings-button {
    width: 50px;
  }
  .tanos {
    height: 40px;
  }
}
