@import url("https://fonts.googleapis.com/css2?family=Abel&family=Plus+Jakarta+Sans&display=swap");

ion-content {
  --overflow: hidden;
  // --background: url("/assets/images/home-square.png") 0 0/100% 100% no-repeat, white;
  --ion-font-family: "Abel", sans-serif;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
}

.logo{
  height: 120px;
  margin-top: 5vh;
}


.container {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  background: url("/assets/images/block-layer.png"), white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  height: 100%;
}

.buttons {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  padding: 0 11vw 0 11vw;
  justify-content: center;
  width: 100%;
  // margin-top: 20px;
  // border: 1px solid;
}

.ranks {
  font-size: 20px;
}

.number {
  width: 60px;
  height: 60px;
  background-color: #e9ecf0;
  border-radius: 12px;
}

.name {
  display: flex;
  width: 70vw;
  height: 60px;
  background-color: #e9ecf0;
  border-radius: 12px;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  font-size: 20px;
}

.first { background-color: #6F9DD7; color: white;}
.second { background-color: #94BBED; color: white;}
.third { background-color: #A3C5F1; color: white;}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  color: #454750;

}

.dots {
  height: 40px;
  margin-top: 10px;
}

.red {
  background-color: #E17D7C;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #000000;
  color: white;
}

ion-segment {
  border-radius: 50vh;
  height: 50px;
  width: 400px;
  --background: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.286);
}

ion-segment-button {
  --indicator-color: #94BBED;
  --border-radius: 50vh;
  --indicator-box-shadow: inset 0.5px 5px 3px rgba(0, 0, 0, 0.25), inset -0.5px 0px 3px rgba(0, 0, 0, 0.25);
}


@media screen and (max-height: 1055px) {
  .number { width: 50px; height: 50px;}
  .name { height: 50px;}
  
}

@media screen and (max-height: 930px) {
  .buttons {padding: 0 8vw 0 8vw;}
  .logo { height: 70px;}
  .number { width: 40px; height: 40px; border-radius: 8px;}
  .name { height: 40px; border-radius: 8px;}
  .container {
    background-size: 125%;
  }
  ion-segment{
    height: 40px;
    width: 230px;
  }
}

@media screen and (max-height: 800px) {
  .buttons {padding: 0 8vw 0 8vw;}
  .number { width: 35px; height: 35px; }
  .name { height: 35px; }
  .container {
    background-size: 125%;
  }
}

@media screen and (max-height: 700px) {
  .buttons {margin-top: 5px;}
  .logo { height: 60px;}
  .dots { height: 20px;}
}

@media screen and (max-width: 480px) {
  .back { width: 13px;}
}
