@import url("https://fonts.googleapis.com/css2?family=Abel&family=Plus+Jakarta+Sans&display=swap");

ion-content {
  --overflow: hidden;
  --background: url("/assets/images/home-square.png") 0 0/100% 100% no-repeat, white;
  --ion-font-family: "Abel", sans-serif;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.ranks {
  margin-top: 8px;
  font-size: 20px;
}

.number {
  width: 40px;
  height: 40px;
  background-color: #e9ecf0;
  border-radius: 12px;
}

.name {
  display: flex;
  width: 305px;
  height: 40px;
  background-color: #e9ecf0;
  border-radius: 12px;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  color: #454750;
}

.red {
  background-color: #f9605f8a;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #000000;
}
